<ul>
  <% if book.errors.any? %>
    <% book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>
</ul>

<%= form_for book do |f| %>
  <div class="field">
    <%= cover_image_tag book %>
    <%= f.label :cover_image, "封面", class: "label"%>
    <%= f.file_field :cover_image, class: "input" %>
  </div>

  <div class="columns">
    <div class="column is-8">
      <div class="field">
        <%= f.label :title, "標題", class: "label" %>
        <%= f.text_field :title, class: "input"%>
      </div>
    </div>
    <div class="column is-4">
      <div class="field">
        <%= f.label :publisher_id, "出版社", class: "label" %>
        <div class="select is-fullwidth">
          <%= f.collection_select :publisher_id, Publisher.available, :id, :name %>
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :description, "描述", class: "label" %>
    <%= f.text_area :description, class: "textarea"%>
  </div class="field">

  <div class="columns">
    <div class="column is-4">
      <div class="field">
        <%= f.label :list_price, "售價", class: "label" %>
        <%= f.number_field :list_price, class: "input"%>
      </div>
    </div>
  
    <div class="column is-4">
      <div class="field">
        <%= f.label :ssell_price, "特價", class: "label" %>
        <%= f.number_field :ssell_price, class: "input"%>
      </div>
    </div>
  
    <div class="column is-4">
      <div class="field">
        <%= f.label :page_num, "頁數", class: "label" %>
        <%= f.number_field :page_num, class: "input"%>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column is-4">
      <div class="field">
        <%= f.label :isbn, "ISBN", class: "label" %>
        <%= f.text_field :isbn, class: "input"%>
      </div>
    </div>
  
    <div class="column is-4">
      <div class="field">
        <%= f.label :isbn13, "ISBN13", class: "label" %>
        <%= f.text_field :isbn13, class: "input"%>
      </div>
    </div>
    <div class="column is-4">
      <div class="field">
        <%= f.label :published, "上架日期", class: "label" %>
        <%= f.text_field :published, class: "input"%>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :on_sell, "是否上架", class: "check_box"%>
    <%= f.check_box :on_sell, type: "checkbox"%>
  </div>

  
  <div class="buttons">
    <%= f.submit class: 'button is-success'%>
    <%= link_to "Cancel", root_path, class: 'button is-light'%>
  </div>

<% end %>




<%= javascript_pack_tag 'datepicker'%>
