
<h1 class="title">書本列表</h1>

<div class="columns is-multiline">
  <% @books.each do |book|%>
    <div class="column is-3 ">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <%= cover_image_tag book, width: 350, height: 350, index_img: true %>
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">
                <%= book.title %>
              </p>
            </div>
          </div>
      
          <div class="content">
            <%= book.description%>
          </div>
          <small>上架日期：<%= book.published%></small>
          <hr>
          <div class="content">
            <%= link_to '放到購物車', '#', class: "button is-light is-small is-rounded" %>
          </div>
        </div>
          
      </div>
    </div>
  <% end %>
  
</div>
<%= paginate @books %>
