<!DOCTYPE html>
<html>
  <head>
    <title>天天書局後台</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/backend/navbar' %>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-2">
            <%= render 'shared/backend/aside' %>
          </div>
          <div class="column is-10">
            <%= render 'shared/flash' if notice %>
            <%= yield %>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
